* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
ul {
    display: flex;
    gap: 24px;
    padding: 24px;
    flex-wrap: wrap;
}
li {
    border: 1px solid;
    border-radius: 12px;
}